:root{
    --primary:#0ABAB5;
    --background:#0ABAB5;
    --text:#1F2937;
    --white:#FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Noto Sans TC", sans-serif;
    background:var(--background);
    color:var(--text);
}

.hero{
    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:80px;
    gap:60px;

    background:
    linear-gradient(
        135deg,
        #0ABAB5 0%,
        #4DD6D1 100%
    );
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;
    text-align:center;
}

.hero-right img{
    width:100%;
    max-width:600px;
    border-radius:24px;
}

.hero h1{
    color:white;
    font-size:3rem;
    font-weight:700;
}

.hero p{
    color:rgba(255,255,255,.85);
}

@media (max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
        padding:40px 25px;
        gap:30px;
    }

    .hero-left,
    .hero-right{
        width:100%;
    }

    .hero h1{
        font-size:4rem;
    }

    .hero-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .hero-right img{
        max-width:350px;
    }

}
