:root{
    --primary:#0ABAB5;
    --background:#F8FEFE;
    --text:#1F2937;
    --white:#FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:
        "Noto Sans TC",
        sans-serif;
    background:var(--background);
    color:var(--text);
}
