:root{
    --primary:#0ABAB5;
    --background:#0ABAB5;
    --text:#1F2937;
    --text:#1F2937;
    --white:#FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:
        "Noto Sans TC",
        sans-serif;
    background:var(--background);
    color:var(--text);
}

.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.hero h1{
    font-size:3rem;
    font-weight:700;
}

.hero p{
    margin-top:10px;

    font-size:1.1rem;

    opacity:.7;
}
