body{
    margin:0;
    font-family:sans-serif;
    background:#f5fdfd;
}

.container{
    text-align:center;
    padding:80px 20px;
}

h1{
    color:#0abab5;
}

button{
    background:#0abab5;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
}
